<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tech Test</title>
    <meta name="author" content="Jamie Lennox">
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>
</html>
